<md-toolbar>
	<div class="md-toolbar-tools">
		<span>Products for people</span>
		<span flex></span>
		<md-button href="/#/">Home</md-button>
		<md-button href="/#/admin">Admin</md-button>
	</div>
</md-toolbar>
<h2>Add new product</h2>
<form>
	<label>Name</label><input ng-model="item.name" label="Product Name" type="text" placeholder="Product Name" /><br>
	<label>Description</label><input ng-model="item.desc" type="text" placeholder="Description" /><br>
	<label>Price</label><input ng-model="item.price" type="text" placeholder="Price" /><br>
	<br>
	<button ng-click="postData()">Add Product</button>

</form>